@model LuxuryMVC.Models.Offer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
